body {
    background-image: url("images/back.png");
    background-repeat: no-repeat;
    *background-position: center;
    background-size: cover;
}
.main_container {
    width:90%;
    margin:auto;
}

/*Header Section*/
#head {
    position:relative;
    width: 80%;
    height: 20vh;
    margin:auto;
}
#head a {
    color:black;
}
#head div {
    position: relative;
    float:right;
}

#head ul {
    list-style-type: none;
}
#head li {
    display: inline-block;
}

/*Stats Section*/
#statsSection {
    position:relative;
    float:left;
    width: 27%;
    height: 600px;
    margin:5px;
    background-image: url('images/fly.png');
    background-repeat: no-repeat;
    background-position: center;
    font-size:3vh;

}
#reset {
    border-radius: 25%;
    background-color: transparent;
    color:white;

}

/*Game Section*/
#game-area {
    position:relative;
    display: inline-block;
    width: 60vw;
    height: 55vh;
    margin: 5px;
}
.card{
    position: relative;
    display:inline-block;
    width: 16.6%;
    height:33.3%;
    border-radius:20%;
}
.card img{
    position: absolute;
    top: 0;
    left:0;
    margin:2px;
    width: 8vw;
    height: 18vh;
    border-radius:20%;
    border: 2px solid goldenrod;

}

/*About page*/
.about {
    width: 500px;
    height: 600px;
}
